* {
  margin: 0vw;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  background-color:antiquewhite;
}

.books {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  background-color:antiquewhite;
}

.intro{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
}

.intro img{
  width: 50%;
  height: 50%;
}




/* sticky header */


.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* make navbar on top of everything else */
  z-index: 999;

}

.navbar ul {
  background-color: rgb(61, 39, 22);
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  border: solid 4px rgb(61, 39, 22);
  background-color: rgb(61, 39, 22);
  color:antiquewhite;
  display: block;
  text-align: center;
  font-size: large;
  padding: 1px px;
  text-decoration: none;
}

/* link button styles */
nav ul{
  display: flex;
  flex-direction: column; /*make the buttons in a column so they are big enough */
  list-style-type: none; /* Remove bullet points */
  border: solid 1px 10px black;
}

/* Book */
.book {
  position: relative;
  width: 180px;
  height: 300px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;

}



.front,
.back {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
  border: solid 5px rgb(61, 39, 22);
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid rgb(61, 39, 22);
}

.back {
  z-index: 0;
}

a{
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 150%;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.paper h1{
  margin: 0px;
  font-size: 80%;
}

p{
  font-size: 11.5px;
}


.back-content {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flipping effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

/* Paper stack order */
#p1 {
  z-index: 4;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

/* Customization */
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#b1 {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  justify-content: space-around;
}

#b1 h2 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

#b1 p {
  margin-bottom: 20px;
}

h1, .paper h1{
  text-align: center;
}





/* Tablet styles */
@media (min-width: 600px) {


  a{
    padding: .9rem;
    font-size: 20px; /*smaller*/
    white-space: nowrap;
  }

  h4, p{
    padding: 5%;
    font-size: 12px;
  }

  .front,
  .back {
    width: 100%;
    height: 100%;
  }
  
  nav ul {
    flex-direction: row; /* Change to row on larger screens */
    justify-content: center; /* Center navigation items */
    font-size: 2vw;
  }
  .navbar ul a{
    margin:0%;
    background-color: rgb(61, 39, 22);
    font-size: 1em;
    color: antiquewhite;
  }


}
/* Desktop styles */
@media (min-width: 900px) {
  .b3 a{
    font-size: 30px;
  }

  .paper h1, p{
    padding: 3%;
    font-size: 25px;
  }

  /* make the buttons bigger so they fit the screen */

  .book {
    width: 400px;
    height: 600px;
  }
}
